body {
  margin: 0;
  padding: 0;
  position: relative;
}
#grid {
  position: absolute;
  top: 20px;
  width: 512px;
  height: 512px;
}
#map {
  position: absolute;
  top: 20px;
  width: 128px;
  height: 256px;
}
#map.vertical {
  width: 256px;
  height: 128px;
}

#grid div { position: absolute; }
#grid .gh-0- { width:  64px; height: 128px; left:    0px; top:  384px; }
#grid .gh-1- { width:  64px; height: 128px; left:   64px; top:  384px; }
#grid .gh-2- { width:  64px; height: 128px; left:    0px; top:  256px; }
#grid .gh-3- { width:  64px; height: 128px; left:   64px; top:  256px; }
#grid .gh-4- { width:  64px; height: 128px; left:  128px; top:  384px; }
#grid .gh-5- { width:  64px; height: 128px; left:  192px; top:  384px; }
#grid .gh-6- { width:  64px; height: 128px; left:  128px; top:  256px; }
#grid .gh-7- { width:  64px; height: 128px; left:  192px; top:  256px; }
#grid .gh-8- { width:  64px; height: 128px; left:    0px; top:  128px; }
#grid .gh-9- { width:  64px; height: 128px; left:   64px; top:  128px; }
#grid .gh-b- { width:  64px; height: 128px; left:    0px; top:    0px; }
#grid .gh-c- { width:  64px; height: 128px; left:   64px; top:    0px; }
#grid .gh-d- { width:  64px; height: 128px; left:  128px; top:  128px; }
#grid .gh-e- { width:  64px; height: 128px; left:  192px; top:  128px; }
#grid .gh-f- { width:  64px; height: 128px; left:  128px; top:    0px; }
#grid .gh-g- { width:  64px; height: 128px; left:  192px; top:    0px; }
#grid .gh-h- { width:  64px; height: 128px; left:  256px; top:  384px; }
#grid .gh-j- { width:  64px; height: 128px; left:  320px; top:  384px; }
#grid .gh-k- { width:  64px; height: 128px; left:  256px; top:  256px; }
#grid .gh-m- { width:  64px; height: 128px; left:  320px; top:  256px; }
#grid .gh-n- { width:  64px; height: 128px; left:  384px; top:  384px; }
#grid .gh-p- { width:  64px; height: 128px; left:  448px; top:  384px; }
#grid .gh-q- { width:  64px; height: 128px; left:  384px; top:  256px; }
#grid .gh-r- { width:  64px; height: 128px; left:  448px; top:  256px; }
#grid .gh-s- { width:  64px; height: 128px; left:  256px; top:  128px; }
#grid .gh-t- { width:  64px; height: 128px; left:  320px; top:  128px; }
#grid .gh-u- { width:  64px; height: 128px; left:  256px; top:    0px; }
#grid .gh-v- { width:  64px; height: 128px; left:  320px; top:    0px; }
#grid .gh-w- { width:  64px; height: 128px; left:  384px; top:  128px; }
#grid .gh-x- { width:  64px; height: 128px; left:  448px; top:  128px; }
#grid .gh-y- { width:  64px; height: 128px; left:  384px; top:    0px; }
#grid .gh-z- { width:  64px; height: 128px; left:  448px; top:    0px; }
#grid  .gh-0 { width:  16px; height:  16px; left:    0px; top:  112px; }
#grid  .gh-1 { width:  16px; height:  16px; left:    0px; top:   96px; }
#grid  .gh-2 { width:  16px; height:  16px; left:   16px; top:  112px; }
#grid  .gh-3 { width:  16px; height:  16px; left:   16px; top:   96px; }
#grid  .gh-4 { width:  16px; height:  16px; left:    0px; top:   80px; }
#grid  .gh-5 { width:  16px; height:  16px; left:    0px; top:   64px; }
#grid  .gh-6 { width:  16px; height:  16px; left:   16px; top:   80px; }
#grid  .gh-7 { width:  16px; height:  16px; left:   16px; top:   64px; }
#grid  .gh-8 { width:  16px; height:  16px; left:   32px; top:  112px; }
#grid  .gh-9 { width:  16px; height:  16px; left:   32px; top:   96px; }
#grid  .gh-b { width:  16px; height:  16px; left:   48px; top:  112px; }
#grid  .gh-c { width:  16px; height:  16px; left:   48px; top:   96px; }
#grid  .gh-d { width:  16px; height:  16px; left:   32px; top:   80px; }
#grid  .gh-e { width:  16px; height:  16px; left:   32px; top:   64px; }
#grid  .gh-f { width:  16px; height:  16px; left:   48px; top:   80px; }
#grid  .gh-g { width:  16px; height:  16px; left:   48px; top:   64px; }
#grid  .gh-h { width:  16px; height:  16px; left:    0px; top:   48px; }
#grid  .gh-j { width:  16px; height:  16px; left:    0px; top:   32px; }
#grid  .gh-k { width:  16px; height:  16px; left:   16px; top:   48px; }
#grid  .gh-m { width:  16px; height:  16px; left:   16px; top:   32px; }
#grid  .gh-n { width:  16px; height:  16px; left:    0px; top:   16px; }
#grid  .gh-p { width:  16px; height:  16px; left:    0px; top:    0px; }
#grid  .gh-q { width:  16px; height:  16px; left:   16px; top:   16px; }
#grid  .gh-r { width:  16px; height:  16px; left:   16px; top:    0px; }
#grid  .gh-s { width:  16px; height:  16px; left:   32px; top:   48px; }
#grid  .gh-t { width:  16px; height:  16px; left:   32px; top:   32px; }
#grid  .gh-u { width:  16px; height:  16px; left:   48px; top:   48px; }
#grid  .gh-v { width:  16px; height:  16px; left:   48px; top:   32px; }
#grid  .gh-w { width:  16px; height:  16px; left:   32px; top:   16px; }
#grid  .gh-x { width:  16px; height:  16px; left:   32px; top:    0px; }
#grid  .gh-y { width:  16px; height:  16px; left:   48px; top:   16px; }
#grid  .gh-z { width:  16px; height:  16px; left:   48px; top:    0px; }

#map div { position: absolute; }

#map.vertical div.geohash-p{ top: 0px; left: 0px }
#map.vertical div.geohash-r{ top: 0px; left: 32px }
#map.vertical div.geohash-x{ top: 0px; left: 64px }
#map.vertical div.geohash-z{ top: 0px; left: 96px }

#map.vertical div.geohash-n{ top: 32px; left: 0px }
#map.vertical div.geohash-q{ top: 32px; left: 32px }
#map.vertical div.geohash-w{ top: 32px; left: 64px }
#map.vertical div.geohash-y{ top: 32px; left: 96px }

#map.vertical div.geohash-j{ top: 64px; left: 0px }
#map.vertical div.geohash-m{ top: 64px; left: 32px }
#map.vertical div.geohash-t{ top: 64px; left: 64px }
#map.vertical div.geohash-v{ top: 64px; left: 96px }

#map.vertical div.geohash-h{ top: 96px; left: 0px }
#map.vertical div.geohash-k{ top: 96px; left: 32px }
#map.vertical div.geohash-s{ top: 96px; left: 64px }
#map.vertical div.geohash-u{ top: 96px; left: 96px }

#map.vertical div.geohash-5{ top: 128px; left: 0px }
#map.vertical div.geohash-7{ top: 128px; left: 32px }
#map.vertical div.geohash-e{ top: 128px; left: 64px }
#map.vertical div.geohash-g{ top: 128px; left: 96px }

#map.vertical div.geohash-4{ top: 160px; left: 0px }
#map.vertical div.geohash-6{ top: 160px; left: 32px }
#map.vertical div.geohash-d{ top: 160px; left: 64px }
#map.vertical div.geohash-f{ top: 160px; left: 96px }

#map.vertical div.geohash-1{ top: 192px; left: 0px }
#map.vertical div.geohash-3{ top: 192px; left: 32px }
#map.vertical div.geohash-9{ top: 192px; left: 64px }
#map.vertical div.geohash-c{ top: 192px; left: 96px }

#map.vertical div.geohash-0{ top: 224px; left: 0px }
#map.vertical div.geohash-2{ top: 224px; left: 32px }
#map.vertical div.geohash-8{ top: 224px; left: 64px }
#map.vertical div.geohash-b{ top: 224px; left: 96px }

#map div.geohash-b{ top: 0px; left: 0px }
#map div.geohash-c{ top: 0px; left: 32px }
#map div.geohash-f{ top: 0px; left: 64px }
#map div.geohash-g{ top: 0px; left: 96px }
#map div.geohash-u{ top: 0px; left: 128px }
#map div.geohash-v{ top: 0px; left: 160px }
#map div.geohash-y{ top: 0px; left: 192px }
#map div.geohash-z{ top: 0px; left: 224px }
#map div.geohash-8{ top: 32px; left: 0px }
#map div.geohash-9{ top: 32px; left: 32px }
#map div.geohash-d{ top: 32px; left: 64px }
#map div.geohash-e{ top: 32px; left: 96px }
#map div.geohash-s{ top: 32px; left: 128px }
#map div.geohash-t{ top: 32px; left: 160px }
#map div.geohash-w{ top: 32px; left: 192px }
#map div.geohash-x{ top: 32px; left: 224px }
#map div.geohash-2{ top: 64px; left: 0px }
#map div.geohash-3{ top: 64px; left: 32px }
#map div.geohash-6{ top: 64px; left: 64px }
#map div.geohash-7{ top: 64px; left: 96px }
#map div.geohash-k{ top: 64px; left: 128px }
#map div.geohash-m{ top: 64px; left: 160px }
#map div.geohash-q{ top: 64px; left: 192px }
#map div.geohash-r{ top: 64px; left: 224px }
#map div.geohash-0{ top: 96px; left: 0px }
#map div.geohash-1{ top: 96px; left: 32px }
#map div.geohash-4{ top: 96px; left: 64px }
#map div.geohash-5{ top: 96px; left: 96px }
#map div.geohash-h{ top: 96px; left: 128px }
#map div.geohash-j{ top: 96px; left: 160px }
#map div.geohash-n{ top: 96px; left: 192px }
#map div.geohash-p{ top: 96px; left: 224px }
